---
layout: page
title: "#:prototype-term"
permalink: /tags/:term
prototype:
  term: tag
  collection: posts
---

<div class="posts">
  {% for post in paginator.resources %}
    <!-- Look the author details up from the site config. -->
    {% assign author = site.data.authors[post.author] %}
    {% render 'post_summary' site: site, post: post, author: author %}
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
  <div class="pagination">
    <div class="pagination-wrapper">
      <ul class="page-numbers list-unstyled">
        {% if paginator.previous_page %}
          <li>
            <a href="{{ paginator.previous_page_path | prepend: '/' | replace: '//', '/' | relative_url }}" class="page-numbers previous primary-link">&laquo; Prev</a>
          </li>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
          {% if page == paginator.page %}
            <li>
              <span class="page-numbers current">{{ page }}</span>
            </li>
          {% elsif page == 1 %}
            <li>
              <a href="{{ paginator.previous_page_path | prepend: '/' | replace: '//', '/' | relative_url }}" class="page-numbers">{{ page }}</a>
            </li>
          {% else %}
            <li>
              <a href="{{ site.paginate_path | prepend: '/' | replace: '//', '/' | replace: ':num', page | relative_url }}" class="page-numbers">{{ page }}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% if paginator.next_page %}
          <li>
            <a href="{{ paginator.next_page_path | prepend: '/' | replace: '//', '/' | relative_url }}" class="page-numbers next">Next &raquo;</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
{% endif %}